@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-darkBg text-slate-100 min-h-screen antialiased;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0b0f17;
}
::-webkit-scrollbar-thumb {
  background: #242f3d;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}